h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.navigation {
  height:500px;
  width:300px;
  color:#fff;
  background-color:#404040;
  padding:4px;
}

.content {
  height:500px;
  color:#000;
  background-color:#f0f0f0;
  padding:4px 4px 4px 20px;
}

.splitter {
  background-color:#d0d0d0;
}